.Name {
    color:black;
    font-size: 40px;
}

#photo {
   width: 300px;
   height: 300px;
}


#favorites {
    font-size: 35px;
}

.favorites {
    font-size: 25px;
}

#additional {
    font-size: 35px;
}

.additional {
    font-size: 25px;

}